# Visual Studio / .NET
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
bld/
[Oo]ut/

# NuGet
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# Rider / ReSharper
.idea/
_ReSharper*/
*.[Rr]e[Ss]harper

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs & temp
*.log
*.tmp
*.cache
